<form class="border border-light p-5">

  <p class="h4 mb-4 text-center">Registrar Película</p>

  <input type="text" id="titulo" class="form-control mb-4" placeholder="Título">

  <input type="text" id="fecha" class="form-control mb-4" placeholder="Clasificación">

  <input type="text" id="fecha" class="form-control mb-4" placeholder="Género">
  
  <label for="duracion">Duración (minutos)</label>
  <input type="number" max="3" id="duracion" class="form-control mb-4" placeholder="">

  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="imagen">
      <label class="custom-file-label" for="imagen">Seleccionar imagen</label>
    </div>
  </div>

  <button class="btn btn-info btn-block my-4" type="submit">Registrar</button>
</form>