<form class="border border-light p-5">

  <p class="h4 mb-4 text-center">Registrar Película</p>

  <input type="text" id="titulo" class="form-control mb-4" placeholder="Título">

  <label for="fecha">Fecha</label>
  <input type="date" id="fecha" class="form-control mb-4" placeholder="Fecha">

  <input type="text" id="fecha" class="form-control mb-4" placeholder="Clasificación">

  <input type="text" id="fecha" class="form-control mb-4" placeholder="Género">

  <button class="btn btn-info btn-block my-4" type="submit">Registrar</button>
</form>