<form class="border border-light p-5">

  <p class="h4 mb-4 text-center">Registrar Función</p>

  <label for="peliculas">Seleccione película</label>
  <select id="peliculas" class="custom-select form-control mb-4">
    <option selected>Seleccione...</option>
    <option value="1">Harry Potter</option>
    <option value="2">El Señor de los anillos</option>
    <option value="3">Los juegos del hambre</option>
  </select>

  

  <button class="btn btn-info btn-block my-4" type="submit">Registrar</button>
</form>